body{
    max-width: 1280px;
    padding:0 5%;
    background:linear-gradient(90deg, rgb(198, 146, 233),rgb(230, 93, 139));
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}
.nav-logo{
    padding: 10px 20px;
}
.nav-menu{
    width: 50%;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    width: 80%;
    border-width: 1px;
}
.nav-item{
    list-style: none;
    color: white;
    padding:5px 10px;
    border-radius: 5px;
    transition: 0.2s;
}
.nav-item:hover{
    transform: rotate(-10deg);
    transition: 0.6s;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 5px 10px;
    
}
.nav-link:hover{
    color: rgb(191, 255, 250);
    font-size: 1rem;
    background-color:  #ec8ad4;
    
}
.donateBtn{
    background-color: #bc88df;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
.donateBtn:hover{
    background-color: rgb(151, 93, 189);
    border: none;
    

}
.image-slider{
    display: flex;
    justify-content: center;
}
.main-container{
    background: linear-gradient(90deg, rgb(185, 115, 231,.8),rgba(221, 68, 119,.7)), url(./images/charity.png),center, no-repeat;
}

.activity-container{
    text-align: center;
    margin: 30px 0;
    
}
.activity-header{
    text-align: center;
}
.activities{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 2em;
}

.activity{
    
    background-color: #a25ef0;
    color: white;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    padding: 10px;
    height: 300px;
}

.activity>img{
    width: 40%;
}


.pricing-container{
    text-align: center;
    margin: 3em 0;
}
.pricing-types{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .pricing-plan{
    background-color: aliceblue;
    flex: 1;
    border-radius: 20px;
    width: 200px;
    text-align: center;
  }
  .plan-title{
    text-align: center;
    padding:1rem 1rem;
    border-radius: 20px 20px 0 0;
    margin-bottom: .5rem;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
  }
  .basic .plan-title, .basic .plan-button{
    background:linear-gradient(135deg, orange, rgb(233, 8, 121));
  }
  .standard .plan-title, .standard .plan-button{
    background:linear-gradient(135deg, rgb(93, 175, 241), rgb(12, 22, 165));
  }
  .premium .plan-title, .premium .plan-button{
    background:linear-gradient(135deg, rgb(34, 238, 102), rgb(17, 112, 14));
  }
  .plan-price{
    text-align: center;
    font-weight: bold;
    letter-spacing: .1rem;
  }
  .plan-features{
    padding: 0;
    list-style: none;
  }
  li{
    font-size: 0.75em;
    margin: .3rem 0;
    text-align: center;
    
  }
  span{
    font-size: 2rem;
  }
  sup{
    font-size: 1.5rem;
  }
  .plan-button{
    
    border: none;
    font-size: .75rem;
    border-radius: .5rem;
    padding: .3rem ;
    color: white;
    margin-bottom: 1rem;
    text-transform: uppercase;
    cursor: pointer;
  }




  /* Hint: What can you do with a media query and flexbox? */
  @media (max-width: 540px) {
    .pricing-container{
      display: flex;
      flex-direction: column;
  }
  .pricing-plan{
  
    border-radius: 20px;
    width: 70%;
    text-align: center;
  }
}