body{
    max-width: 1280px;
    padding:0 5%;
    background:linear-gradient(90deg, rgb(198, 146, 233),rgb(230, 93, 139));
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}
.nav-logo{
    padding: 10px 20px;
}
.nav-menu{
    width: 50%;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    width: 80%;
    border-width: 1px;
}
.nav-item{
    list-style: none;
    color: white;
    padding:5px 10px;
    border-radius: 5px;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}
.nav-link:hover{
    color: rgb(149, 238, 33);
    font-size: 1em;
    background-color:  #ec8ad4;
   
    
}
.donateBtn{
    background-color: #bc88df;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-size: 1em;
}
.donateBtn:hover{
    background-color: rgb(151, 93, 189);
    border: none;
}
.image-slider{
    display: flex;
    justify-content: center;
}
.main-container{
    background: linear-gradient(90deg, rgb(185, 115, 231,.8),rgba(221, 68, 119,.7)), url(./images/charity.png),center, no-repeat;
}

.activity-container{
    justify-content: center;
    margin-top: 30px;
    
}
.activity-header{
    text-align: center;
}
.activities{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.activity{
    
    background-color: #a25ef0;
    color: white;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    padding: 10px;
    height: 300px;
}

.activity>img{
    width: 40%;
}
.activity>p{
    text-align: center;
}